.container {
  display: flex;
  justify-content: space-between;

  width: 92.8rem;
  margin: 10rem auto;
  background-color: #fff;
  border-radius: 3.6rem;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  /* display: none; */
}

.img-min {
  padding: 2.4rem;
}

.hero-text {
  margin-left: 6.4rem;
}

.hero-text h1 {
  color: var(--Dark-Navy, #242742);
  font-size: 5.6rem;
  font-weight: 700;
  margin-top: 9.8rem;
}

.hero-text > p {
  color: var(--Dark-Navy, #242742);

  font-size: 1.6rem;
  font-weight: 400;
  margin: 2.4rem 0 2.4rem 0;
}

.mobile-break {
  display: none;
}

.desktop-break {
  display: block;
}

.product-inf-main {
  color: var(--Dark-Navy, #242742);

  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* *********************
Form
******************/

label {
  color: var(--Dark-Navy, #242742);
}

input {
  width: 37.6rem;
  height: 5.6rem;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  position: relative;
  padding-left: 2.4rem;
  border: 1px solid var(--grey-25, rgba(25, 24, 43, 0.25));
}

::placeholder {
  color: var(--Dark-Navy, #242742);
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.5;
}

input:hover::placeholder {
  opacity: 1;
}

form button {
  color: var(--White, #fff);
  border-radius: 0.8rem;
  padding: 1.5rem 6.4rem;
  background-color: #242742;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

form button:hover,
form button:active {
  background: var(
    --Gradient-1,
    linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%)
  );
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}

/* Thank you MM */

.thank-you {
  width: 50.4rem;
  border-radius: 3.6rem;
  background: #fff;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  padding-left: 6.4rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thank-you img {
  margin: 4.8rem 0 4rem 0;
  display: inline-block;
}

.thank-you h2 {
  color: var(--Dark-Navy, #242742);

  font-size: 5.6rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 2.4rem;
}

.thank-you p {
  color: var(--Dark-Navy, #242742);

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 4rem;
}

.thank-you button {
  color: var(--White, #fff);
  border-radius: 0.8rem;
  padding: 1.5rem 11.8rem;
  background-color: #242742;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-bottom: 6.4rem;
}

.thank-you button:hover {
  background: var(
    --Gradient-1,
    linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%)
  );
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}

/* Javascript */
/* 
::placeholder {
  color: var(--Vermellion, #ff6155);
  opacity: 1;
}

.js-input {
  border: 1px solid var(--Vermellion, #ff6155);
  outline: none;
  display: ;
}

span {
  color: #ff6155;
  display: block;
} */

.valid-email {
  display: flex;
  justify-content: space-between;

  font-size: 1.2rem;
  font-weight: 700;
  margin: 3rem 0 0.8rem 0;
}

.hide {
  display: none;
}

.error {
  border-color: red;
}
/* ******************* */
/* Responsive */
/* ******************* */

@media (max-width: 37.5rem) {
  .container {
    flex-direction: column-reverse;

    width: 37.5rem;
  }

  .img-min {
    padding: 0;
    width: 100%;
  }
  .hero-text h1 {
    font-size: 4rem;
    margin-top: 4rem;
  }

  .hero-text {
    margin-left: 2.4rem;
  }

  .hero-text > p {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 2.4rem 0 2.4rem 0;
  }

  .mobile-break {
    display: block;
  }

  .desktop-break {
    display: none;
  }

  input {
    width: 32.7rem;
    height: 5.6rem;
  }

  button {
    padding: 1.5rem 4.4rem;
    margin-bottom: 4rem;
  }
}
